@import '~antd/dist/antd.css';

.nav-active {
  border-bottom: 2px solid white;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .button--mobile-big {
  height: 56px;
  }
}

.teamplayers__list .ant-list-header {
  background: #00407c;
  color: ghostwhite;
}

.available__list {
  margin-bottom: 5px;
}

.playerlist__item {
  margin: 0px 5px 5px 0px;
}