@import '~antd/dist/antd.css';

.nav-active {
  border-bottom: 2px solid white;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .button--mobile-big {
  height: 56px;
  }
}